dify-workflows/intent-discovery-app.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Intent Discovery App
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1779172974842-source-17791730334260-target
      source: '1779172974842'
      sourceHandle: source
      target: '17791730334260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17791730334260-source-17791730610570-target
      source: '17791730334260'
      sourceHandle: source
      target: '17791730610570'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 72
      id: '1779172974842'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 识别用户可能涉及的法律诉求
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 05ca9130-ff28-487b-b879-c75aa64fce5a
          role: system
          text: '你是婚姻家事诉求发现助手。


            用户往往：

            - 情绪化

            - 表达模糊

            - 不懂法律

            - 不知道自己真正想解决什么


            你的任务：


            根据用户自然语言：


            识别用户可能涉及的法律诉求。


            不要分析法律。


            不要输出法律结论。


            重点：

            - 发现潜在诉求

            - 不遗漏重要问题

            - 管理不确定性


            输出：

            - claim

            - confidence

            - reason


            如果存在不确定性，必须明确说明。'
        - id: 335700f1-189c-40e4-a75c-387e8541260e
          role: user
          text: '{{#sys.query#}}'
        reasoning_format: separated
        selected: false
        structured_output:
          schema:
            properties:
              possible_claims:
                items:
                  properties:
                    claim:
                      type: string
                    confidence:
                      type: string
                    reason:
                      type: string
                  required:
                  - claim
                  - confidence
                  - reason
                  type: object
                type: array
            required:
            - possible_claims
            type: object
        structured_output_enabled: true
        title: Intent Discovery
        type: llm
        vision:
          enabled: false
      height: 115
      id: '17791730334260'
      position:
        x: 477
        y: 297
      positionAbsolute:
        x: 477
        y: 297
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17791730334260.structured_output#}}'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: Possible_Claims
        type: answer
        variables: []
      height: 102
      id: '17791730610570'
      position:
        x: 800
        y: 303
      positionAbsolute:
        x: 800
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 91.57319183510083
      y: -25.358945165360296
      zoom: 0.8614881277752162
  rag_pipeline_variables: []
